/* CSS sheet for header and navigation*/

#imgLogo {
    max-width: 150px;
}

#imgCart{
    max-width: 50px;
    float: right;
}
.topnav{
    background-color: #C8102E;
    height: 50px;
    font-family: 'Calibri';
    font-size: 40px;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 15px;
    border-radius: 25px;
}
/* Highlight active section */
.topnav a.active{
    float: left;
    color:black;
    background-color: white; 
}
.topnav a{
    float: left;
    margin-left: 200px;
    color:white;
}

/* Fix Home being inconsistent */
.topnav a.home{
    margin-left: 40px;
}

.topnav a:hover{
    color: white;
    background-color: black;
}

h1{
    font-size:50px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
h2 {
    font-size:30px;
    margin-top: 100px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#United24 {
    margin: 350px;
    margin-top:200px;
    max-width: 500px;
    max-height: 200px;
}

#Food{
    float:left;
    margin-top:200px;
    margin-top:200px;
    margin-left: auto;
    max-width: 500px;
    max-height: 200px;
}

#Roshen{
    float:right;
    margin-top: 200px;
    max-width: 500px;
    max-height: 200px;
}
